@import "../../styles/colors";

.logo {
  float: left;
  font-size: 20px;
}

.nav {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 15px;
  li {
    float: left;
    list-style: none;
    padding: 0 2px;
    a {
      display: block;
      padding: 0 10px;
      border-bottom: 3px solid transparent;
      color: $purple;
      &:hover,
      &.active {
        border-bottom: 3px solid $purple;
      }
    }
  }
}

.header {
  background: $beige;
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo i {
  font-size: 40px;
  margin-right: 6px;
  position: relative;
  top: 8px;
}

.main {
  padding-top: 100px;
}


@media all and (max-width: 600px) {
.main {
padding-top: 20px;
}

.header {
position: static;
}

.logo,
.nav {
float: none;
text-align: center;
}
.nav {
padding: 10px;
border-top: 2px solid $purple;
li {
float: none;
    line-height: normal;
a:hover,
a.active {
border-color: transparent;
}
}
}

}
